.filter{
    box-shadow: 0 0 4px rgba(128, 128, 128, 0.863);
    padding: 10px 20px;
    border-radius: 12px;
}

.transaction-form input{
    border: 1px solid rgb(21, 20, 20);
}
.transaction-form input:focus{
    border: 1px solid gray;
}
.ant-modal-header{
    font-size: 20px !important;
}
.anst-select-selector{
    font-size: 30px;
}
.anticon-svg{
    cursor: pointer;
}
.active-icon{
    color: green;
}
.inactive-icon{
    color: gray
}
.view-switch{
    cursor: pointer;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.516);

}
